<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Addtocart" parallel="classes" thread-count="1">
	<parameter name="browser-name" value="Chrome" />

	<test name="AmazonAddtocart">
	    <classes>
	    
		<class name="test.TestCase" />
		
   		</classes>
	</test>	
</suite> 